.jumbotron {
	padding: 1em 2em;
}

.body_container {
	padding: 0 2em;
	color: grey;
}

.cat {
	float: right;
	position: relative;
	width: 30em;
}

body {
	background: #000;
}

hr.style-seven {
		margin: 30px 0;
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}



/* 	===========================================
		Media Queries
		===========================================
*/

@media screen and (max-width: 767px) {
	.cat {
		display: none;
	}

	.jumbotron h1 {
		text-align: center;
		font-size: 5em;
	}

	.jumbotron h4 {
		text-align: center;
		font-size: 2em;
	}
}