.jumbotron {
	padding: 1em 2em;
}

.body_container {
	padding: 0 2em;
	color: grey;
}

.cat {
	float: right;
	position: relative;
	width: 30em;
}

body {
	background: #000;
}



/* 	===========================================
		Media Queries
		===========================================
*/

@media screen and (max-width: 767px) {
	.cat {
		display: none;
	}

	.jumbotron h1 {
		text-align: center;
		font-size: 5em;
	}

	.jumbotron h4 {
		text-align: center;
		font-size: 2em;
	}
}